@font-face {
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #000;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

.wrapper {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 300px;
}

.parallax__group {
	position: relative;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.sky {
	background: url(../img/md_sky.png) no-repeat center;
	background-size: cover;
	transform: translateZ(-600px) scale(3);
	z-index: 1;
}

.bushes {
	background: url(../img/bushes.png) no-repeat center;
	background-size: cover;
	transform: translateZ(-525px) scale(2.75);
	z-index: 2;
}

.water {
	background: url(../img/water.png) no-repeat center;
	background-size: cover;
	transform: translateZ(-400px) scale(2.33333333);
	z-index: 3;
}

.people1 {
	background: url(../img/people1.png) no-repeat center;
	background-size: cover;
	transform: translateZ(-250px) scale(1.833333333);
	z-index: 4;
}

.people2 {
	background: url(../img/people2.png) no-repeat center;
	background-size: cover;
	transform: translateZ(-125px) scale(1.4167);
	z-index: 5;
}

.people3 {
	background: url(../img/people3.png) no-repeat center;
	background-size: cover;
	transform: translateZ(0) scale(1);
	z-index: 6;
}

.hero-gradient {
	background: linear-gradient(
		rgba(105, 211, 252, 0.25) 0%,
		rgba(255, 116, 161, 0.25) 86%,
		rgba(1, 0, 0, 0.25) 100%
	);
	background-size: cover;
	transform: translateZ(0) scale(1);
	z-index: 7;
}

.info-container {
	position: relative;
	background: #000;
	transform: translateZ(0) scale(1);
	text-align: center;
	z-index: 8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 65%;
}

.info-container h2,
.info-container p {
	margin-bottom: 1rem;
}

.responsive-iframe {
	width: 900px;
	height: 506px;
}

.video-box {
    text-align: left;
    margin: 0px auto 10px;
    width: 70%;
}

.text-box {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 0px auto 10px;
    width: 70%;
    text-shadow: 0px 2px 6px rgb(200, 0, 0);
}

.container-contents {
	position: relative;
	background: #000;
	z-index: 9;
	margin: auto;
	text-align: center;
    width: 100%;
	height: 23%;
}

/*
	BUTTONS
*/

.md-button {
    position: relative;
	display: inline-block;
    padding: 22px;
    background-image: url(../img/big_button.png);
    width: 504.5px;
    height: 83.5px;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: transform 256ms, text-shadow 256ms;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
    
.md-button:hover {
    transform: scale(105%, 105%);
    text-shadow: 0px 5px rgba(158, 6, 6, 0.45);
}

.md-button-small-blue {
    position: relative;
    display: inline-block;
    padding-top: 18px;
    font-size: 30px;
    background-image: url(../img/small_button_pink.png);
    width: 373px;
    height: 72px;
    color: rgb(255, 255, 255);
}

.md-button-small-pink {
    position: relative;
    display: inline-block;
    padding-top: 18px;
    font-size: 30px;
    background-image: url(../img/small_button_blue.png);
    width: 373px;
    height: 72px;
    color: rgb(255, 255, 255);
}

/*
	FOOTER
*/

.footer {
	position: relative;
	z-index: 10;
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.footer-element {
    padding: 10px 0px 5px 0px;
    color: rgb(250, 240, 230);
    font-weight: 200;
    font-size: 150%;
    text-shadow: 0px 2px 6px rgb(200, 0, 0);
}

.press-link {
    color: rgb(250, 240, 230);
    font-weight: 600;
}

@media (min-width: 760px) {
	.hero-text ul li {
		visibility: visible;
	}

	.info-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 3rem;
		align-items: center;
		text-align: left;
	}
}

@media (min-width: 1126px) {
	.sky,
	.bushes,
	.water,
	.people1,
	.people2,
	.people3,
	.hero-text {
		background-size: contain;
	}
}

/*
	IMAGE GRID
*/

.image-grid {
	background: #000;
	--gap: 16px;
	--num-cols: 4;
	--row-height: 300px;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
	opacity: 0.99;
}

.image-grid > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-grid > img:hover {
  opacity: 0.5;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
	
	.responsive-iframe {
		width: 335px;
		height: 206px;
	}
}
