.awards {
    display: flex;
    // display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 5vh;
  }
  
  .awards img {
    max-width: 20rem;
    height: auto;
    margin: 5%;

    @media screen and (max-width:400px) {
      max-width: 80vw;
    }
  }
  