.buyMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(51, 0, 58, 0.411);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.buyMe .sites{
    display: flex;
    flex-direction: row;
    // display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 5vh;

  }
  
  .buyMe img {
    display: block;
    max-width: 20rem;
    // min-width: 15rem;
    height: auto;
    margin: 5%;
  }
  