.buyMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(51, 0, 58, 0.411);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.buyMe .sites{
    display: flex;
    flex-direction: row;
    // display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 5vh;

  }

  .buyMe .iFrameContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 20rem;
    min-width: 50vw;  
    // max-width: 80vw;
    @media screen and (min-width: 1200px) {
      width: 80px;
      min-width: 30em;
      max-width: 10px;
    }
    @media screen and (max-width: 800px) {
      min-width: 80vw;
      
    }
    @media screen and (max-width: 600px) {
      min-width: 100vw;
      min-height: 40vh;
    }
  }
  


  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }



  .buyMe a {
    margin: 5vw;
  }
  
  .buyMe img {
    display: block;
    max-width: 25vh;
    // min-width: 15rem;
    height: auto;
    margin: 5%;
  }
  
  .buyMe h2 {
    font-size: 4vh;
  }