.carousel {
    position: relative;
    // max-width: 95%;
    max-height: 70%;
    left: 50%;
    transform: translateX(-50%);

}

.carousel ul {
    // overflow: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-snap-points-y: repeat(100%);
    scroll-behavior: smooth;
    background: gray;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.carousel ul::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
}

.carousel ul li {
    position: relative;
    min-width: 100%;
    list-style: none;
    background: url() center center / cover no-repeat;
    scroll-snap-align: start;
}

.carousel ul li>* {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.carousel ul li>img {
    object-fit: cover;
}

.carousel ul li>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    // font-size: 0.9rem;
    // padding-bottom: 10%;
}

.carousel .slide_content{
    text-shadow: 3px 3px black;

    @media screen and (max-width:600px) {
        text-align: center;
        // max-height: 50%;
        max-width: 80%;
        font-size: 0.8rem;
        margin-block-start: 50px;
        background-color: rgba(0, 0, 0, 0.534);
        padding: 5px;
    }

    @media screen and (max-width:400px) {
        text-align: center;
        // max-height: 50%;
        max-width: 90%;
        font-size: 0.7rem;
        
    }
}


@media only screen and (min-width: 600px) {
// custom styling for the text box overlapping the images
    #c10_slide1 div{
        // slide 1's box/container
        display: flex;
        width: 50%;
        left: 50%;
    }
    
    #c10_slide1 div .slide_content{
        // slide 1's text box
        width: 70%;
        // font-weight: bold;
        // font-size: 2vw;
    }
    
    #c10_slide2 div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-items: flex-end;
        margin-block-end: 10vh;
        max-width: 95%;
        // font-weight: bold;
        text-align: center;
    }

    #c10_slide2 div .slide_content{
        // slide 1's text box
        width: 90%;
        margin-block-end: 5vh;
        // font-weight: bold;
        // font-size: 2vw;
    }
    
    #c10_slide3 div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-items: flex-end;
        margin-block-end: 10vh;
        max-width: 95%;
        // font-weight: bold;
        text-align: center;
    }

}




.carousel ol {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    padding-inline-start: 0px;
}

.carousel ol li {
    list-style: none;
    padding: 0 5px;
}

.carousel ol li a {
    display: block;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    background: transparent;
    border-radius: 100%;
}

.carousel ol li.selected a {
    background: white;
}

.carousel .prev,
.carousel .next {
    // display: none; //turns off the arrows on the carousel
    display: block;
    user-select: none;
    cursor: pointer;
    font-size: 50px;
    color: white;
    position: absolute;
    left: 0;
    padding: 15px 15px 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    line-height: 0;

    @media screen and (max-width:500px) {
        // display: none;
        font-size: 20px;
        padding: 5px 5px 15px;
        // color: green;
    }
}

.carousel .next {
    left: auto;
    right: 0;

}