.consent_reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 200;
    margin-top: 5%;

    @media screen and (min-width: 1500px) {
        margin-top: 7%;
    }

    @media screen and (max-width: 796px) {
        margin-top: 5em;
    }

    @media screen and (max-width: 796px) {
        margin-top: 4em;
    }

    @media screen and (max-width: 468px) {
        margin-top: 3%;
    }
}

.consent_reset a {
    color: lightblue;
    font-size: 1em;
}
