.copyright-bubble {
    position: relative;
    display: flex;
}

.copyright-bubble img{
    position: absolute;
    max-width: 100vw;
}

.copyright-bubble p{
    position: absolute;
    text-decoration-color: white;
    // align-items: center;
    // align-self: center;
    // justify-self: center;
    // top: -500%;
    left: 50%;
    transform: translate(-50%,120%);
    z-index: 5;
    font-size: 1.5vw;
}