
.fixed-image-md-logo {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // min-height: 20vh;

    position: absolute;
    top: 20%;
    left: 50%;
    // transform: translate(-50%, -50%);
    transform: translateX(-50%);
    // margin-right: 50%;
    z-index: -1;
    min-width: 75%;
    // width: 80%;
    // max-width: 50%;
    // max-height: 80vh;
    // overflow: visible;

    // .img {
    //   // overflow: hidden;
    // }
  }
  