.screenshots {
    display: flex;
    // display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 1vw;
  }
  
  .screenshots img {
    max-width: 40rem;
    height: auto;
    margin: 1%;
  }
  