// imports
@import "parallax";
@import "fixed_image_diver";
@import "fixed_image_md-logo";
@import "game_description";
@import "awards";
@import "screenshots";
@import "carousel";

//
// Variables
//

$line-height: 1.5;
$font-size: 18px;
$font-standard: "Monserrat";

$color-white: #e7e7e7;
$color-ocean: #001a29;
$color-capsule-background: #161417;
$color-blue: #013886;
$color-black: #101010;

$layout-medium: 769px;
$layout-large: 1025px;

$content-width: 35rem;
$content-spacing: 3rem;

$highlight-brightness: 1.5;

$animation-highlight: 200ms;
$animation-fade-in: 1s;
$animation-fade-in-long: 1.5s;

//
// Fonts
//
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Montserrat-Regular.ttf');
  font-display: fallback;
}

//
// Mixins.
//
@mixin hover-animation() {
  @media (hover: hover) {
    transition: filter $animation-highlight linear;

    &:hover {
      filter: brightness($highlight-brightness);
    }
  }
}

@keyframes fade-in {
  from {
    transform: translateY(-10em);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@mixin fade-in-animation($duration) {
  animation: fade-in $duration;
}

//
// Rules
//
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  // font-family: 'Libre Baskerville', serif;
  font-family: $font-standard, sans-serif;
  line-height: $line-height;
  background-color: $color-capsule-background;
  font-size: $font-size;
  color: $color-white;
}

::selection {
  color: $color-white;
  background: $color-blue;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 1rem;
  margin-top: 0;
}

a {
  color: $color-blue;

  &:visited {
    text-decoration: none;
  }
}

main {
  &.landing {
    // background: url(/images/background.jpg) no-repeat center top;
    // background-image: url(/images/Faces.png);
    // background: url(/images/Faces.png) no-repeat center top;
    background-size: 100%;
    min-height: 100vh;

    @include fade-in-animation($animation-fade-in);

    @media only screen and (min-width: $layout-medium) {
      background-position: center -10vw;
    }

    h1 {
      @include fade-in-animation($animation-fade-in-long);

      margin-bottom: 55vmin;
      text-align: center;
      font-size: 2.5em;

      @media only screen and (min-width: $layout-medium) {
        margin-bottom: 55vw;
        font-size: 6em;
      }
    }

    .content {
      @include fade-in-animation($animation-fade-in-long);

      max-width: 35em;
      padding: 1em;
      margin: 0 auto;
      z-index: 2;
    }

    .p {
      z-index: 10;
    }
  }

  &.center {
    padding-top: 0;
    margin: 0 auto;
    height: 100%;
    max-width: $content-width;
    justify-content: center;
    align-items: center;
    display: flex;

    .content {
      box-shadow: 0 0.3em 0.7em $color-black;
      color: $color-black;
      background-color: $color-white;
      text-align: center;
      margin: 1em;
      padding: 1em;
      width: 100%;
    }
  }
}

form {
  max-width: 50%;
  margin: $content-spacing auto;
}

button, input {
  font-family: $font-standard, sans-serif;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
  border-radius: 2px;
  border: 0;
  margin-bottom: 1em;
}

button {
  background-color: $color-blue;
  cursor: pointer;
  color: $color-white;

  @include hover-animation();
}

input {
  background-color: $color-white;
  caret-color: $color-blue;
  color: $color-black;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.inline-group {
  max-width: 50%;
  margin: $content-spacing auto;
  display: flex;
  justify-content: space-between;
}

.icon {
  height: auto;
  width: 2em;

  @include hover-animation();

  :not(:last-child) {
    margin-right: 1em;
  }

  @media only screen and (min-width: $layout-medium) {
    width: 3em;
  }
}

.bye {
  display: none;
}

