<div class="buyMe">
    <!-- when adding a new reward, remember to add it to the data file! data/awards.json -->
      <h2>Where to Buy</h2>
      <div class= "sites">
        {{range .Site.Data.buyMe}}
        {{if eq .link "none"}}
        <!-- if the link in the json file is set to none, the image won't be a link -->
        <img src="{{.file}}" alt="{{.name}}">
        {{else}}
        <!-- if the link value in the json file not none (ideally a link), the image will be a link -->
        <a href="{{.link}}"><img src="{{.file}}" alt="{{.name}}"></a>
        {{end}}
        
        <div class="iFrameContainer">
          <iframe class="responsive-iframe" src="https://store.steampowered.com/widget/2259330/?t=Your%20adventure%20awaits%2C%20diver" frameborder="0" width="646" height="190"></iframe>

        </div>

      {{end}}
  
      </div>

    
    </div>