<!-- <div class="esp_carousel">
    <div class="esp_carousel-slides">
        {{range $index, $image :=.Params.esp_carousel_images}}
            <div class="carousel-slide{{ if eq $index 0 }} active{{ end }}">
                <img src="{{ $image.src }}" alt="{{ $image.alt }}">
            </div>
            <p>here</p>
        {{end}}
        <div class="carousel-buttons">
            {{ range $index, $image := .Params.esp_carousel_images }}
            <button class="carousel-button{{ if eq $index 0 }} active{{ end }}" data-slide="{{ $index }}"></button>
            {{ end }}

    </div>

  </div> -->

  {{ .context.Scratch.Set "height" .height }}
  {{ .context.Scratch.Set "unit" .unit }}
  {{ .context.Scratch.Set "items" .items }}
  <div id="carousel10" class="carousel" duration="{{ .duration }}" items="{{ .items }}">
      <ul class="test">
          {{ range $index, $slide := .context.Site.Data.carousel.images }}
            <li id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/ {{ $.context.Scratch.Get "items" }}); padding-bottom: {{ $.context.Scratch.Get "height" }}{{ $.context.Scratch.Get "unit" }};"><img src="{{ $slide.image }}" alt="" /><div><div class="slide_content">{{ $slide.content_html | markdownify | safeHTML }}</div></div></li>
            <!-- <li id="c10_slide{{ add $index 1}}"><img src="{{ $slide.image }}" alt="" /><div><div class="slide_content">{{ $slide.content_html }}</div></div></li> -->
            <!-- <li id="c10_slide{{ add $index 1}}"><img src="{{ $slide.image }}" alt="" /><div><div class="slide_content">{{ $slide.content_html }}</div></div></li> -->
          {{ end }}
      </ul>
      <ol>
        {{ range $index, $page := .context.Site.Data.carousel.images }}
          <li><a href="#c10_slide{{ add $index 1 }}"></a></li>
        {{ end }}
      </ol>
      <div class="prev">&lsaquo;</div>
      <div class="next">&rsaquo;</div>
  </div>


<script type="text/javascript" src="/js/carousel.js"></script>
<!-- <link rel="stylesheet" href="/css/carousel.css"> -->
</body>
</html>