
  {{ .context.Scratch.Set "height" .height }}
  {{ .context.Scratch.Set "unit" .unit }}
  {{ .context.Scratch.Set "items" .items }}
  <div id="carousel10" class="carousel" duration="{{ .duration }}" items="{{ .items }}">
      <ul class="test">
          {{ range $index, $slide := .context.Site.Data.carousel.images }}
            <li id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/{{$.context.Scratch.Get "items"}}); padding-bottom: {{ $.context.Scratch.Get "height" }}{{ $.context.Scratch.Get "unit" }};">
              <!-- TODO: replace this <img> tag with <picture>, add modern image formats to the yaml file, then reference those modern formats in the <picture> -->
              <img srcset="{{$slide.srcset}}" sizes="{{$slide.sizes}}" alt="" />
            <!-- <picture>
                <source type="image/webp" srcset={{$slide.webp}}>
                <source type="image/png" srcset={{$slide.image}}>
                <img src={{$slide.image}} alt="">
            </picture> -->

              <div>
                <div class="slide_content">{{ $slide.content_html | markdownify | safeHTML }}</div>
              </div>
            </li>

          {{ end }}
      </ul>
      <ol>
        {{ range $index, $page := .context.Site.Data.carousel.images }}
          <li><a href="#c10_slide{{ add $index 1 }}"></a></li>
        {{ end }}
      </ol>
      <div class="prev">&lsaquo;</div>
      <div class="next">&rsaquo;</div>
  </div>


<script type="text/javascript" src="/js/carousel.js"></script>
<!-- <link rel="stylesheet" href="/css/carousel.css"> -->
</body>
</html>