<div class="fixed-image-md-logo">
    <picture>
        <!-- <p>{{ .Site.Data.diverImage.Diver.Img_source }}</p> -->
        <source type="image/webp" srcset={{.Site.Data.mdLogoFixedImage.MDLogo.WebpSource}}>
        <source type="image/webp" srcset={{.Site.Data.mdLogoFixedImage.MDLogo.ImgSource}}>
        <img src={{.Site.Data.mdLogoFixedImage.MDLogo.Src}} width= {{ .Site.Data.mdLogoFixedImage.MDLogo.Width }} alt={{ .Site.Data.mdLogoFixedImage.MDLogo.Alt }}>
    </picture>

    <!-- <img src="images/md_logo.png" width= {{.Params.fixed_image_mdlogo_width}} alt="Static Image"> -->
    <!-- <img src="images/Library logo.png" width= "200" alt="Static Image"> -->
</div>