{{ define "body" }}
{{ partial "fixed_image_md-logo.html" .}}
{{ partial "fixed_image_diver.html" .}}
{{ partial "parallax.html" .}}

<main class="landing">
  {{ partial "game_description.html"}}
  {{ partial "awards.html" . }}
  {{ partial "screenshots.html" (dict)}}
  {{ partial "carousel.html" (dict "context" . "items" "1" "height" "60" "unit" "%" "duration" "7000") }}
  {{ partial "buyMe.html" .}}
  {{ partial "trailer.html" (dict "VideoUrl" "https://www.youtube.com/embed/zMzI5-9AUAM") }}
  {{ partial "socials.html" .}}
  {{ partial "newsletter.html" .}}
  <div class="content">
    {{ .Content }}
    </div>
  </main>
{{ end }}
